.contact__list {
  margin: 0 auto;
  padding: 40px;
  display: grid;

  max-width: 800px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact__item {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 0.7fr;
  align-items: center;
  border-radius: 4px;
  background-color: white;
  padding: 10px 20px;

}

.contact__item:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}

.contact__item p{
    display: flex;
    gap: 6px;
    align-items: center;
}

.contact__item svg{
  color: #2a5d8a;
}

.contact__button {
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: #F85771;
    border: 2px solid #F85771;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.contact__button:hover {
    background-color: white;
    color: #F85771;
}
